<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Database1Entities" connectionString="Server=WIN-NBIUO7KDS5T\SHP2016;Initial Catalog=Logsdb;Persist Security Info=False;User ID=usrLogs;Password=usrLogs*2018;MultipleActiveResultSets=False;Connection Timeout=60;" />
  </connectionStrings>
  <appSettings>
    <add key="DirectoryPath" value="C:\\LogsApp" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>